{% load static %}{% load static main_tags %}
<!doctype html>
<html lang="en">
  <head>
    <title>Django Tailwind</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include_main %}
    <!-- <script type="text/javascript" src={% static 'dist/Main.js' %}></script> -->
  </head>

  <body>
    <div class="container mx-auto">
      <section>
        <h1>Django + Elm = ❤️</h1>
        <div>{% render_main %}</div>
        <h1>Django + Elm + Again!!!!!!!!! = ❤️</h1>
        <div>{% render_main %}</div>
      </section>
    </div>
  </body>
</html>
