name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, release]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12.3"]
        node-version: ["20"]

    steps:
      - uses: actions/checkout@v4

      - name: Run docker container
        run: ./scripts/up.sh

      - name: Lint python modules
        run: docker exec django-elm-djelm-1 uv run ruff check .

      - name: Run unit tests
        run: docker exec django-elm-djelm-1 uv run pytest --ds=tests.settings tests/ 

      - name: Prepare browser tests
        run: docker exec django-elm-djelm-1 uv run doit prepare_e2e_tests &

      - name: Run browser tests
        run: docker exec -e PYTHONPATH=/app django-elm-djelm-1 uv run pytest --ds=example.project.settings example/tests_e2e/

      - name: Run browser tests after delete compile
        run: |
          docker exec django-elm-djelm-1 rm -rf example/elm_programs/static_src/elm-stuff/djelm*
          docker exec django-elm-djelm-1 rm -rf example/elm_programs/static/dist
          docker exec -e PYTHONPATH=/app django-elm-djelm-1 uv run pytest -sv example/tests_e2e/ --ds=example.project.settings
